div{
    display: inline-block;
    

}
.flag{
    border-color: black;
    border-style: solid;
    display: inline-flex;
}
.a{
background-color: #241f20;
height: 400px;
    width: 100px;
}
.b{
background-color: #fff117;
height: 400px;
    width: 100px;
}
.c{
background-color:#ff0000;
height: 400px;
    width: 100px;
}